In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
from sklearn import metrics

In [2]:
train=pd.read_csv("Downloads\Assignment 2\Assignment 2\problem_2\problem_2_train.csv")
test=pd.read_csv("Downloads\Assignment 2\Assignment 2\problem_2\problem_2_test.csv")
train.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
0,2851218,AN,7,500004,233,233,131,A,ADLD,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
1,2838330,AJ,10,226010,233,233,131,A,ADLD,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2,2835781,AJ,2,110018,233,233,228,A,ADLD,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
3,2838589,AM,2,110018,233,233,228,B,ADLD,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
4,2855214,AN,21,110015,233,233,131,A,ADLD,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [3]:
test['claimintdate']= pd.to_datetime(test['claimintdate'],dayfirst=True)
test['pickupStartdate']= pd.to_datetime(test['pickupStartdate'],dayfirst=True)
test['mobilepurchasedate']= pd.to_datetime(test['mobilepurchasedate'],dayfirst=True)
test['memcreateddate']= pd.to_datetime(test['memcreateddate'],dayfirst=True)
test['datediff']=test['pickupStartdate']-test['claimintdate']
test['pindiff']=pow(pow(test['custpincode']-test['hubpincode'],2),1/2)
test['datediff']=test['datediff'].dt.days

from sklearn import preprocessing 
  
label_encoder = preprocessing.LabelEncoder() 
   
test['mobmake']= label_encoder.fit_transform(test['mobmake']) 
test['custpincodecategory']=label_encoder.fit_transform(test['custpincodecategory'])
test['claimtype']=label_encoder.fit_transform(test['claimtype'])
test.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,datediff,pindiff
0,2829088,13,3,560011,233,233,131,1,0,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06,5,82.0
1,2829866,10,2,110018,233,233,228,1,0,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08,7,16.0
2,2894489,10,3,560011,233,233,228,3,0,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28,7,30003.0
3,2876708,10,2,110018,233,233,228,2,0,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26,10,140092.0
4,2890283,13,22,400104,233,233,131,3,0,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23,3,95897.0

In [4]:
train['claimintdate']=pd.to_datetime(train['claimintdate'],dayfirst=True)
train['pickupStartdate']=pd.to_datetime(train['pickupStartdate'],dayfirst=True)
train['mobilepurchasedate']=pd.to_datetime(train['mobilepurchasedate'],dayfirst=True)
train['memcreateddate']=pd.to_datetime(train['memcreateddate'],dayfirst=True)
train['datediff']=train['pickupStartdate']-train['claimintdate']
train['pindiff']=pow(pow(train['custpincode']-train['hubpincode'],2),1/2)
train['datediff']=train['datediff'].dt.days

In [5]:
from sklearn import preprocessing 
  
label_encoder = preprocessing.LabelEncoder() 
   
train['mobmake']= label_encoder.fit_transform(train['mobmake']) 
train['custpincodecategory']=label_encoder.fit_transform(train['custpincodecategory'])
train['claimtype']=label_encoder.fit_transform(train['claimtype'])
train.head()

,srno,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days,datediff,pindiff
0,2851218,12,7,500004,233,233,131,1,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5,5,3.0
1,2838330,8,10,226010,233,233,131,1,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12,4,12.0
2,2835781,8,2,110018,233,233,228,1,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9,9,0.0
3,2838589,11,2,110018,233,233,228,2,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9,10,13983.0
4,2855214,12,21,110015,233,233,131,1,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8,5,91286.0

In [6]:
X=train.iloc[:,[0,1,2,5,6,7,9,13,16,17]]
y=train['tat_in_days']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.5,random_state=1)
X

,srno,mobmake,hubid,deliverypartnerid,insuranceCompanyId,custpincodecategory,custpincode,servicecntrid,datediff,pindiff
0,2851218,12,7,233,131,1,500001,4403,5,3.0
1,2838330,8,10,233,131,1,226022,4444,4,12.0
2,2835781,8,2,233,228,1,110018,4388,9,0.0
3,2838589,11,2,233,228,2,124001,4092,10,13983.0
4,2855214,12,21,233,131,1,201301,4580,5,91286.0
5,2852784,12,21,233,131,2,132001,4580,7,21986.0
6,2844713,17,2,233,131,1,110059,4094,3,41.0
7,2829719,17,6,233,131,2,151001,4549,9,9058.0
8,2833619,12,3,233,131,1,560076,4467,5,65.0
9,2870579,8,5,233,131,2,390006,4422,6,9997.0
10,2851462,12,3,233,131,2,586101,4467,5,26090.0
11,2864593,12,22,233,131,2,360001,4581,10,40103.0
12,2902016,17,2,233,131,1,110025,4091,3,7.0
13,2891631,7,8,233,131,1,700039,4499,2,25.0
14,2926054,3,4,233,131,1,600097,4488,3,73.0
15,2899949,31,2,233,228,1,122003,4150,5,11985.0
16,2969907,8,12,233,228,2,342015,4407,1,40009.0
17,2906122,12,21,233,228,1,201010,4580,2,90995.0
18,2932008,17,2,233,131,1,110070,4094,4,52.0
19,2970930,8,2,233,131,1,201014,4388,4,90996.0
20,2866366,8,2,233,228,1,122003,4388,1,11985.0
21,2905985,3,3,233,131,1,560066,4468,22,55.0
22,2908451,3,2,233,131,1,110058,4148,6,40.0
23,2979013,12,22,233,131,2,360001,4581,2,40103.0
24,2920951,12,26,233,131,3,626117,5001,20,66051.0
25,2982966,17,2,233,228,1,122003,4550,2,11985.0
26,2970294,12,22,233,131,1,380054,4581,11,20050.0
27,2958255,1,24,233,131,3,495001,4150,5,384909.0
28,2974060,11,2,233,228,3,311001,4092,2,200983.0
29,3022644,8,27,233,131,1,110059,4388,3,25.0
...,...,...,...,...,...,...,...,...,...,...
6220,2972006,31,24,233,131,2,180006,4150,16,69914.0
6221,3065218,12,21,233,131,1,110064,4580,4,49.0
6222,3012962,12,26,245,228,1,560011,5001,2,55.0
6223,2909668,8,1,233,131,1,400010,4398,8,49.0
6224,2973482,18,1,233,131,1,800027,4390,21,399968.0
6225,3038101,12,17,233,131,1,800024,4410,11,23.0
6226,2929016,17,3,245,131,1,560050,4461,14,39.0
6227,3049731,17,3,245,131,1,560070,4461,4,59.0
6228,2884305,12,21,233,228,1,302004,4580,2,191989.0
6229,2954084,12,21,233,131,2,131029,4580,4,21014.0
6230,2994106,8,27,233,228,2,324008,4388,6,213974.0
6231,2984042,12,22,0,131,1,400042,4581,4,62.0
6232,3029536,12,26,233,131,2,636001,5001,22,75935.0
6233,2962519,11,1,245,131,2,394210,4018,7,5849.0
6234,2844945,12,4,233,131,1,600113,4490,7,89.0
6235,2824988,17,7,233,228,1,500016,4477,7,12.0
6236,2838265,21,2,233,228,2,121102,4011,1,11084.0
6237,2863341,8,12,233,228,2,312001,4407,1,9995.0
6238,2939451,17,1,233,228,1,400057,4545,2,2.0
6239,2930645,12,21,233,131,2,313001,4580,8,202986.0
6240,3016763,12,26,233,131,1,560037,5001,4,29.0
6241,2981238,12,8,233,131,1,700014,4508,18,50.0
6242,3072593,17,8,233,131,1,700007,4511,2,57.0
6243,2830968,12,17,201,131,0,815353,4410,8,15352.0
6244,2863463,9,1,233,228,2,452001,4008,1,51942.0
6245,2949680,8,2,233,131,1,110032,4388,3,14.0
6246,2971901,3,1,233,131,1,400076,4011,6,17.0
6247,2999232,17,2,233,228,1,110085,4550,3,67.0
6248,2980326,25,2,233,131,1,500030,4478,4,390012.0
6249,2973922,8,2,233,131,1,122001,4388,10,11983.0

# Using Linear Regression

In [7]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)
y_predict=lr.predict(X_test)

In [8]:
np.sqrt(metrics.mean_squared_error(y_test,y_predict))

4.730396463004773

# Plotting

In [19]:
X_test=test.iloc[:,[0,1,2,5,6,7,9,13,15,16]]

In [20]:
y_pred=lr.predict(X_test)
y_pred=y_pred.astype(int)

In [21]:

test['tat_in_days']=y_pred
test.to_csv('Desktop\Test_Pred2.csv')